version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=atlas

  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL= ${DATABASE_URL}
    depends_on:
      - db

volumes:
  postgres_data:

  

